*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: #00080F;
}
/* header styling */
 header{
    background-color: #00090F;
    color: white;
    border-bottom: rgba(255, 250, 240, 0.169) solid 0.02px;
}

.internal-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo img{
    max-width: 300px;
}
.navigation  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.myWatchlist{
    background-color: #00090F;
    padding: 7px ;
    border-radius: 20px ;
    border: rgba(255, 255, 255, 0.096) solid ;
}

.active {
 background-color: rgb(255, 132, 0);
 padding: 10px 15px;
 border-radius: 20px ;
 transition: 0.3s;
 color: rgba(0, 0, 0, 0.694);
}

.findYourMovie{
    background-image: url('../resources/');
    width: 70%;
    color: white;
    margin: 20px 0;
    line-height:1.3;
    border: rgba(255, 250, 240, 0.169) solid 0.02px;
    margin: 20px 20px;
    padding: 20px;
}

.findText h1{
    color: rgb(255, 183, 0);
    font-size: 50px;
    font-weight: 900;
}
.findText p{
    color: rgb(160, 163, 166);
}
.internalFindYourMovie{
    width: 70%;
    margin: 0 auto;
}
.searchBtn input{
    padding: 10px 200px 10px 30px;
    border-radius: 10px;
}



